<td>{{ iPlus1 }}</td>
<td><a class="btn" href="#polls/{{ title_slug }}/vote">{{ poll.title }}</a></td>
<td class="opt-col">
  <div class="btn-group">
    <a class="btn btn-small btn-info" href="#"><i class="icon-cog icon-white"></i> Options</a>
    <a class="btn btn-small btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="javascript:void(0);" class="rm-poll"><i class="icon-trash"></i> Remove</a></li>
    </ul>
  </div>
</td>