<li>
  <div class="input-append">
    <input class="input-medium title" type="text" />
    <input class="input-medium title_slug" type="text" /><button class="btn rm-opt" type="button">-</button>
  </div>
</li>