.index-pg {
  .poll h2 {
    margin: 14px 0 10px 0;
    line-height: 28px;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}
.create-pg {
  #opts {
    list-style: none;
    margin-left: 0;
    li {
      margin-bottom: 7px;
    }
  }
}
.admin-pg {
  .opt-col {
    width: 125px;
  }
}
.poll-pg,
.vote-pg {
  #opts {
    list-style: none;
    margin-left: 0;
    [class*="span"] {
      float: none;
      margin-left: 0;
    }
    a {
      width: 100%;
      float: none;
      margin: 7px 0 0 0;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 486px) {
  .hero-unit {
    padding: 20px;
    .input-xlarge {
      max-width: 90%;
    }
  }
}